<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Crudo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.crudo.controller.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.crudo.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.crudo.controller.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserList</display-name>
    <servlet-name>AdminUserList</servlet-name>
    <servlet-class>com.crudo.controller.AdminUserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserList</servlet-name>
    <url-pattern>/getuserlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTodoList</display-name>
    <servlet-name>AdminTodoList</servlet-name>
    <servlet-class>com.crudo.controller.AdminTodoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTodoList</servlet-name>
    <url-pattern>/gettodolist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInfoUpdate</display-name>
    <servlet-name>AdminInfoUpdate</servlet-name>
    <servlet-class>com.crudo.controller.AdminInfoUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInfoUpdate</servlet-name>
    <url-pattern>/admininfoupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.crudo.controller.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/userlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTodoList</display-name>
    <servlet-name>UserTodoList</servlet-name>
    <servlet-class>com.crudo.controller.UserTodoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTodoList</servlet-name>
    <url-pattern>/getusertodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddTodo</display-name>
    <servlet-name>UserAddTodo</servlet-name>
    <servlet-class>com.crudo.controller.UserAddTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddTodo</servlet-name>
    <url-pattern>/addusertodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateTodo</display-name>
    <servlet-name>UserUpdateTodo</servlet-name>
    <servlet-class>com.crudo.controller.UserUpdateTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateTodo</servlet-name>
    <url-pattern>/updatetodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserTodo</display-name>
    <servlet-name>DeleteUserTodo</servlet-name>
    <servlet-class>com.crudo.controller.DeleteUserTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserTodo</servlet-name>
    <url-pattern>/deletetodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoUpdate</display-name>
    <servlet-name>UserInfoUpdate</servlet-name>
    <servlet-class>com.crudo.controller.UserInfoUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoUpdate</servlet-name>
    <url-pattern>/userinfoupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSignupService</display-name>
    <servlet-name>UserSignupService</servlet-name>
    <servlet-class>com.crudo.controller.UserSignupService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignupService</servlet-name>
    <url-pattern>/usersignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserService</display-name>
    <servlet-name>DeleteUserService</servlet-name>
    <servlet-class>com.crudo.controller.DeleteUserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserService</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccountDelete</display-name>
    <servlet-name>UserAccountDelete</servlet-name>
    <servlet-class>com.crudo.controller.UserAccountDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccountDelete</servlet-name>
    <url-pattern>/deleteaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlockUserService</display-name>
    <servlet-name>BlockUserService</servlet-name>
    <servlet-class>com.crudo.controller.BlockUserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockUserService</servlet-name>
    <url-pattern>/blockuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendOtp</display-name>
    <servlet-name>SendOtp</servlet-name>
    <servlet-class>com.crudo.controller.SendOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendOtp</servlet-name>
    <url-pattern>/sendotp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeNewPassword</display-name>
    <servlet-name>ChangeNewPassword</servlet-name>
    <servlet-class>com.crudo.controller.ChangeNewPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeNewPassword</servlet-name>
    <url-pattern>/changenewpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleAuth</display-name>
    <servlet-name>GoogleAuth</servlet-name>
    <servlet-class>com.crudo.controller.GoogleAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleAuth</servlet-name>
    <url-pattern>/googleauth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsernameAvailablity</display-name>
    <servlet-name>UsernameAvailablity</servlet-name>
    <servlet-class>com.crudo.controller.UsernameAvailablity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsernameAvailablity</servlet-name>
    <url-pattern>/usernameid</url-pattern>
  </servlet-mapping>
</web-app>